* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: outfit;
}

body {
    background: url("../images/giphy.webp");
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.logo {
    filter: drop-shadow(0px 0px 5px white);
    display: flex;
    justify-content: center;
}

form {
    max-width: 350px;
    height: 450px;
    backdrop-filter: blur(8px);
    padding: 30px;
    border: 1px solid rgba(255, 255, 255);
    border-radius: 10px;
    margin-top: 30px;
}

form h2 {
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
}

label {
    color: #fff;
    font-size: 18px;
}

.email, .pswd {
    margin: 20px 0;
}

.input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 3px solid white;
    font-size: 18px;
    color: #f5f5f5;
    background: none;
}

.input:focus, .input:valid {
    color: #4f4f4f;
    background-color: #fff;
    outline: none;
    border-radius: 5px;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

p a {
    color: #cb6ce6;
    text-decoration: none;
}

.submit {
    width: 100%;
    color: black;
    font-size: 16px;
    font-weight: 550;
    background-color: #cb6ce6;
    padding: 10px 20px;
    border: 0.5px solid #9e9e9e;
    border-radius: 8px;
    margin-bottom: 20px;
}

.signup {
    text-align: center;
}
.signup a {
    color: #cb6ce6;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}

.index-page {
    text-align: center;
    margin-top: 13px;
}

.index-page a {
    color: #cb6ce6;
    text-decoration: none;
}
